@import '~antd/dist/antd.css';

.App {
  text-align: left;
  width: 30%;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .component-search-input{
  margin-top: 20px;
}
.component-job-results .left{
  width: 80%;
  float: left;
}
.component-job-results{
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin-top: 35px;
}
.job-results-top{
  margin: 10px 0 40px 0;
}

.component-job-results .countResults{
  width: 49%;
  display: inline-block;
  font-weight: bold;
}
.component-job-results .sortBy{
  float: right;
}

.component-job-results .sortBy .ant-select{
  margin-left: 5px;
}
.component-job-results .right{
  float: right;
}
.component-job-results .title{
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 15px;
}

.job-container:nth-last-of-type(1) .ant-divider {
  height: 0;
}

.job-container{
  margin: 20px 0;
}
.job-container .info{
  margin: 20px 0 15px 0;
}
.job-container .availability{
  margin-left: 13px;
  padding: 3px 10px;
  color: white;
  border-radius: 15px 15px;
  font-size: 11px;
}

.job-container .availability.green{
  background-color: #52c41a;
}

.job-container .availability.orange{
  background-color: orange;
}

.job-container .availability.blue{
  background-color: rgb(0, 174, 255)
}

ul.skills {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 25px;
}
ul.skills li{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px 15px;
  font-size: 11px;
  border: 1px solid #ccc;
  margin-right: 5px;
  font-weight: bold;
}