@import '~antd/dist/antd.css';
/*** Header ***/
body{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.ant-layout-header{
  background: #fff;
  padding:0;
  box-shadow: 0 2px 4px rgba(0,0,1,0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,1,0.2);
}
.ant-layout-header img.logo,.ant-layout-footer img.logo{
  margin: 1% 12%;
  float: left;
  padding-top: 5px;
}
.ant-layout-footer img.logo{
  margin: 0;
} 
.headerNav{
  float:right;
  margin-right: 12%;
}
.ant-layout-header .ant-menu-horizontal{
  border-bottom: 0;
  margin-top: 10px;
}

/*** Search ***/
.component-search-input{
  margin-top: -10px;
  margin-bottom: 44px;
  .ant-input-lg{
    height: 55px;
  }
  .ant-btn-lg{
    height: 55px;
    padding: 0 40px;
  }
}
.ant-input-search{
  -webkit-box-shadow: 0 3px 5px #b2b2b2;
  box-shadow: 0 3px 5px #b2b2b2;
}
/*** Left container ***/
.leftContainer {
	padding-right: 30px;
	.ant-divider-horizontal {
		margin-bottom: 25px;
		margin-top: 0;
	}
	.ant-layout {
		.ant-divider {
			background: #ced9ee;
		}
	}
	.workType {
		padding-bottom: 10px;
		label {
			margin-bottom: 10px;
		}
		.ant-checkbox-wrapper {
			&:hover {
				.ant-checkbox-inner {
					border-color: #56d48f;
				}
			}
		}
		.ant-checkbox {
			&:hover {
				.ant-checkbox-inner {
					border-color: #56d48f;
				}
			}
		}
		.ant-checkbox-input {
			&:focus {
				+ {
					.ant-checkbox-inner {
						border-color: #56d48f;
					}
				}
			}
		}
	}
	label {
		.clearFilter {
			float: right;
		}
	}
	.ant-select {
		width: 100%;
	}
	.ant-input {
		height: 42px;
	}
	.ant-checkbox-checked {
		.ant-checkbox-inner {
			border-color: #56d48f;
			background-color: #56d48f;
		}
		&:after {
			border: 1px solid #56d48f;
		}
	}
	.ant-select-selection--single {
		height: 42px;
		.ant-select-selection-selected-value{
			padding-top: 5px;
		}
	}
	.ant-select-selection--multiple {
		min-height: 42px;
		.ant-select-selection__rendered > ul > li{
			margin-top: 8px;
		}
	}
	.ant-select-selection__placeholder {
		margin-top: -5px;
	}
	.ant-slider {
		.ant-slider-track {
			background: #56d48f;
		}
		.ant-slider-handle {
			border: solid 2px #56d48f;
		}
		.ant-slider-rail {
			background-color: #dfe6f1;
		}
		&:hover {
			.ant-slider-handle {
				&:not(.ant-tooltip-open) {
					border-color: #56d48f;
				}
			}
		}
		.ant-slider-mark-text{
			font-weight: 500;
			font-size: 16px;
			font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
	}
	.ant-input-number {
		width: 60px;
	}
	.ant-checkbox-group-item {
		display: block;
		margin-bottom: 12px;
	}
	.ant-col-6 {
		&:last-child {
			&::before {
				content: '-';
				position: absolute;
				margin-top: 3px;
			}
		}
  }
  .clearFilter{
    float: right;
    cursor: pointer;
    color: #79899d;
	}
	.withoutPayRates{
		margin-top: 5px;
	}
}
.container{
  margin-bottom:10%;
}

/*** Right container ***/
.rightContainer {
	padding-left: 30px;
	.ant-divider-horizontal {
		margin-bottom: 25px;
		margin-top: 0;
	}
	.ant-layout {
		.rightAdBlockOne {
			background: #fff;
			padding: 50px 0;
			text-align: center;
			margin-bottom: 10%;
			box-shadow: 0 1px 4px rgba(0,0,1,0.06);
			-webkit-box-shadow: 0 1px 4px rgba(0,0,1,0.06);
			a {
				display: block;
				padding-top: 10px;
			}
		}
	}
	.ad-container {
		margin: 20px 0;
		.left {
			width: 77%;
			float: left;
		}
		.right {
			float: right;
			width: 18%;
		}
		.title {
			font-weight: bold;
			padding-bottom: 5px;
			font-size: 14px;
		}
		.info {
			margin: 5px 0 20px 0;
			font-size: 12px;
		}
	}
	.rightAdBlockList {
		margin-bottom: 20px;
		margin-top: 20px;
		clear: both;
	}
}

.middleContainer{
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,1,0.06);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,1,0.06);
}
.leftSideBlock{
  background: rgb(240,242,245);
}

.mainContainer{
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 2%;
}

/* Main container - job results  */
.component-job-results {
  margin-top: 15px;
	.job-results-top {
		margin: 30px 30px 0px;
		.noResults {
			text-align: center;
			padding-bottom: 50px;
			padding-top: 25px;
		}
	}
	.countResults {
		width: 49%;
		display: inline-block;
		font-weight: bold;
		height: 32px;
		line-height: 32px;
	}
	.sortBy {
		float: right;
		.ant-select {
			margin-left: 5px;
		}
	}
	.ant-select-selection--single {
		height: 32px;
	}
	.title {
		font-size: 16px;
		font-weight: 500;
		color: #3c495a;
	}
	.job-container {
		&:nth-last-of-type(1) {
			.ant-divider {
				height: 0;
			}
		}
		margin: 20px 0;
		.info {
			margin: 20px 0 15px 0;
		}
  }
  .ant-list-vertical .ant-list-item-extra{
    margin-left: 0;
    font-size: 16px;
    font-weight: 500;
    color: #3c495a;
  }
}

/******* Job Listing ******/
.ant-spin-nested-loading{
  padding: 10px 30px;
}
.ant-list-lg .ant-list-item {
  padding-top: 25px;
  padding-bottom: 10px;
}

.ant-list-item {
	.ant-list-item-meta-title {
    float: left;
    color: #3c495a;
	}
	.ant-list-item-meta {
		margin-bottom: 0;
	}
	.location {
		margin-top: -10px;
		margin-bottom: 15px;
	}
	.anticon-environment {
		margin-right: 3px;
	}
	.availability {
		margin-left: 13px;
		padding: 3px 10px;
		color: white;
		border-radius: 15px 15px;
		font-size: 12px;
		font-weight: 500;
	}
	.availability.green {
		background-color: #56d48f;
	}
	.availability.orange {
		background-color: #ffc14a;
	}
	.availability.blue {
		background-color: #4bd3ff;
	}
	ul.skills {
		list-style-type: none;
		padding-left: 0;
		li {
			display: inline-block;
			padding: 5px 10px;
			border-radius: 15px 15px;
			font-size: 11px;
			border: 1px solid #ccc;
			margin-right: 5px;
			font-weight: bold;
		}
  }
}

.ant-list {
  font-family: inherit;
	.ant-spin-container {
		.ant-list-item {
			&:nth-last-of-type(1) {
				border-bottom: 0;
			}
		}
	}
}
.ant-list-pagination {
  position: absolute;
	width: 100%;
	text-align: center;
  margin-top: 25px;
  .ant-pagination {
    .ant-pagination-item-link {
      width: 35px;
      height: 35px;
      position: absolute;
      border-radius: 50%;
    }
    .ant-pagination-prev {
      .ant-pagination-item-link {
        left: 0;
      }
    }
    .ant-pagination-next {
      .ant-pagination-item-link {
        right: 0;
      }
    }
  }
	.ant-pagination-item {
		border: none;
		background: none;
		min-width: 26px;
		height: 26px;
		line-height: 26px;
		&:focus {
			a {
				color: #79899d;
			}
		}
		&:hover {
			a {
				color: #79899d;
			}
		}
	}
	.ant-pagination-item-active {
		background-color: #1890ff;
		a {
			color: #fff;
		}
		&:visited {
			a {
				color: #fff;
			}
		}
		&:focus {
			a {
				color: #fff;
			}
		}
		&:hover {
			a {
				color: #fff;
			}
		}
	}
	.anticon {
		svg {
			display: none;
		}
	}
	i.anticon {
		display: inline-block;
		font-family: "FontAwesome";
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-size: 16px;
	}
	i.anticon.anticon-left {
		&:after {
			content: "\f060";
			top: 16px;
			left: 10px;
			position: absolute;
		}
	}
	i.anticon.anticon-right {
		&:after {
			content: "\f061";
			top: 16px;
			left: 11px;
			position: absolute;
		}
	}
}

/* Footer */
.ant-layout-footer {
	background: #324258;
	color: #fff;
	margin-top: 75px;
	padding-left: 12%;
	padding-right: 12%;
	.footerNav {
		text-align: left;
		ul {
			padding: 0;
			li {
				list-style-type: none;
				padding: 8px;
				font-size: 12px;
			}
			li.title {
				font-weight: bold;
				padding-bottom: 15px;
			}
		}
		ul.socialIcons {
			li.icons {
				i {
					padding-right: 40px;
				}
			}
		}
	}
}

/*****Mobile Styles******/
@media only screen and (min-device-width: 320px) and (max-device-width: 414px) and (orientation: portrait){
  .leftContainer {
    padding-right: 0;
  }
  .rightContainer {
    padding-left: 0;
    margin-top: 75px;
	}
	.mainContainer{
		margin: 0 5%;
	}
  .ant-row {
    .footerNav {
      text-align: center;
    }
  }
  .component-search-input {
    margin-top: 30px;
    margin-bottom: 44px;
  }
  .footerNav {
    text-align: center;
    ul.socialIcons {
      li.icons {
        i.anticon-instagram {
          padding-right: 0;
        }
      }
    }
  }
  .ant-layout-footer {
    .ant-col-xs-24 {
      text-align: center;
      img {
        float: none;
      }
    }
  }
  .component-job-results {
    .left {
      float: none;
      width: 100%;
    }
    .right {
      float: none;
    }
    .countResults {
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
    }
    .sortBy {
      float: none;
      .ant-select {
        margin-left: 0;
        width: 100%;
      }
    }
    .job-container {
      .availability.blue {
        display: inline-block;
      }
    }
  }
  .ant-layout-header {
    text-align: center;
    img.logo {
      float: none;
    }
  }
  
}

